body  {
    margin: 0!important;	
    background-image: linear-gradient(to top, #96e0e8 40%, #ffb2ca 120%);
}

main  {
	width: 100vw;
	margin-left: auto;
	margin-right: auto;
}

header  {
    text-align: left; 
    margin-left: auto;
	margin-right: auto;
    width: 100vw;
    height: 90px;
    border: 0;
    padding: 0;
	background-color:rgba(255, 255, 255, 0.286)
}

aside  {
	float: left;
	padding: 0;
	width: 12.5vw;
	height: 64vw;
	text-align: center; 
	margin-left: 1cm;
	margin-right: 0;
	border: 0;
	background-color: white;
}

article {
	background-image: url(img/article.png);   
	opacity: 0.9; 
	width: 81vw;
	height: 64vw;
	text-align: center; 
    margin-left: auto;
	margin-right: auto;
	float: left;
}

#title {
	float: left;
	width: 80vw;
	height: 3vw;
	text-align: center;
	line-height: -15px;
	color: #d60033; 
	font-family: Skia;
	font-size: 22px;
	font-weight:bold;
	background-color: rgba(61, 53, 224, 0);
	padding-top: 6px;
	
}

h3  {
	float: left;
	width: 80vw;
	text-align: center; 
	margin:5px 20px 5px 20px;
	font-size: 22px;
}

h4  {
	float: left;
	width: 80vw;
	text-align: justify; 
	margin:5px 20px 5px 20px;
	font-size: 18px;
}


.agusia {
	float: left;
	width: 17vw;
	text-align: left;
	position: relative; left: 0.5px;
	margin:15px 0px 0px 50px;
	border-radius: 20%;
	box-shadow: 8px 8px 20px -1px rgba(166, 14, 221, 0.906);
}
	
.agusia:hover {
	-webkit-filter: blur(1px); 
	filter: blur(1px);
}

#topfooter {
	clear: both;
	padding: 0;
	font-family: Arial;
	font-weight: bold;
	color: white;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.39);
	width: 100vw;
	height: 3vw;
	margin-top: 5px;
	border: 0;
	position: bottom;
	align-items: center;
	margin-left: 0;
	line-height: 28px;

}

ol {
	padding:0;
	margin: 0;
	list-style-type: none;
	font-size: 15px;
	height: 45px;
	line-height: 200%;
	
}

ol a  {
	color: #5300d7;
	font-family: Silom;
	text-decoration: none;
	display: block;
	background-color: rgba(91, 105, 227, 0);
	height: 45px;
	text-align: center;
	line-height: 45px;

}

ol > li  {
	float: left;
	width: 225px;
	height: 45px;
}

li  {
	float: left;
	width: 225px;
	height: 45px;
}

ol >li >ul  {
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 45px;
	display: none;
}

ol > li:hover >ul  {
	display:block;	
}

ol > li > ul > li  {
	background-color: rgba(255, 181, 239, 0.78);
	text-align: center;
	position:relative;
	z-index: 100;
}

ol>li>ul>li a  {
	color: #03b2e7;
}

a:hover  {
	color: orange;
	background-color: rgba(135, 135, 135, 0.613);
}

a.tilelink {
	color:white;
	text-decoration: none;
	display: block;
	width: 45px;
	height: 45px;
}

a.tilelinkhtml5 {
	color: white;
	text-decoration: none;
}

.fb {
	float: left;
	margin-left: 0.19cm;
	margin-top: 5px;
	width: 40px;
	height: 40px;
	background-color: #4668b3;
	list-style-type: none;

}

.fb:hover{
	background-color: #3557b2;
	list-style-type: none;
	transition-duration: 750ms;
}

.in {
	float: left;
	margin-top: 5px;
	width: 40px;
	height: 40px;
	background-color: #d62976;
}

.in:hover{
	background-color: #900c41;
	transition-duration: 750ms;
}

.zl {
	float: left;
	width: 139.5px;
	margin-top: 5px;
	height: 40px;
	font-size: 17px;
	font-weight: 500;
	font-family: Helvetica Neue;
	background-color: #20c997;
	text-align: left;
}

.zl:hover{
	background-color: #0e7e67;
	transition-duration: 750ms;
}

.sticky {
	width: 93.5vw;
	position: fixed;
	right: 1.2cm;
	top: 0;
	z-index: 100;
	text-align: center; 
    margin-left: auto;
	margin-right: auto;
    background-color:rgba(186, 177, 177, 0.35);
}

.copyright {
	position: relative; top: 7px;
	letter-spacing: 4px;
	list-style-type: none;
}

.wizyta {
	color: white;
}
.wizyta:hover {
	background-color: rgb(0, 0, 0);
	color: red;
}

.logo  {
	height: 90px;
	float: left;
	align-items: center;
	margin-right: 0px;
	margin-left: 1cm;
}

.presentation {
	float: left;
	width: 51vw;
	text-align: justify; 
	color: #595959;
	margin:0px 0px 0px 60px;
	font-size: 15px;
	font-weight:400;
	text-indent: 30px;
}
.courses {
	float: left;
	width: 71.5vw;
	text-align: justify; 
	color: #595959;
	margin:0px 0px 0px 60px;
	font-size: 15px;
	font-weight:400;
	text-indent: 30px;
}
.promo {
	float: left;
	width: 71.5vw;
	text-align: center; 
	color: #f50000;
	margin:0px 0px 0px 0px;
	font-size: 17px;
	font-weight:400;
}
.ad  {
	float: left;
	padding: 0;
	width: 160px;
	height: 600px;
	text-align: center; 
	margin-left: 0;
	margin-right: 0;
	border: 0;
	background-color: white;
	opacity:0.2;
}
.links {
	font-size: 14px;
}